$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$background-moredark: #4527a0;
@mixin zero-margin($pad-up-down, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-down $pad-left-right;
}

.jumbotron {
	@include zero-margin(70px,30px);
	background: #9575cd;
	color: floralwhite;
	min-height: 150px;
}
.active {
	background-color: $background-moredark;
}
