<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    <!--<div fxFlex="100">
      <div>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        <hr>
      </div>
    </div>-->

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
              <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}} "alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions >
            <button mat-button [routerLink]="['/dishdetail', prev]" appHighlight><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button (click)="goBack()" appHighlight>BACK</button>
          <button mat-button appHighlight>LIKE</button>
          <button mat-button appHighlight>SHARE</button>
          <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]" appHighlight><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-list >
        <h1>Comments</h1>
          <mat-list-item *ngFor="let comment of dish.comments">
            <h4 matLine> {{comment.comment}} </h4>
            <p matLine> {{comment.rating}} Stars </p>
            <p matLine>
              <span> --{{comment.author}} {{comment.date | date}}</span>
            </p>
          </mat-list-item>
      </mat-list>
      <div *ngIf="arr">
          <mat-list-item  *ngFor="let val of arr">

              <p matLine>{{val.comment}}</p>
              <p matLine>{{val.rating}} Stars</p>
              <p matLine>-- {{val.author}} {{val.date | date }}</p>

          </mat-list-item>
          </div>

          <mat-list-item *ngIf="commentForm.valid">

              <p matLine>{{commentForm.value.comment}}</p>
              <p matLine>{{commentForm.value.rating}} Stars</p>
              <p matLine>-- {{commentForm.value.author}} </p>

          </mat-list-item>

      <form novalidate [formGroup]="commentForm"  #fform="ngForm"  (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
            </mat-form-field>
          </p>
           <p>
              <mat-slider
              formControlName="rating"
              max="5"
              step="1"
              thumbLabel
              tickInterval="1">
            </mat-slider>
          </p>

          <p>
            <mat-form-field class="half-width">
              <textarea matInput formControlName="comment" placeholder="Comment" type="text" rows="10" cols="40" required></textarea>
              <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
        </form>

      <div [hidden]="dish|| errMess">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
      </div>
  </div>
</div>
