/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/variables';
@import '../node_modules/font-awesome/scss/font-awesome';

$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$primary-color-dark: #512da8;
$primary-color: #222;
$primary-color-light: #d1c4e9;
$primary-color-text: #ffffff;
$accent-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$madarchod: red;

@mixin zero-margin($pad-up-down, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-down $pad-left-right;
}

body {
	padding: 0ch;
	margin: 0ch;
	font-family: Roboto, sans-serif;
}

.container {
	margin: 20px;
	display: flex;
}
.background-primary {
	background-color: $background-dark !important;
}
.background-accent {
	background-color: $accent-color !important;
}
.text-floral-white {
	color: floralwhite !important;
}

.flex-spacer {
	flex: 1 1 auto;
}

.highlight {
	background-color: $background-pale;
	border: 1px solid $primary-color-dark;
	z-index: 1; //raised up
	transform: scale(1.01);
}
